{% extends 'base.html.twig' %}

{% block title %}Re7{% endblock %}

{% block body %}


    <br>
    <h2 style="text-align: center">Page de modification d'ingrédients</h2>
    <br>


    <div class="container" style="">
        {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.price) }}
        <br>

        {{ form_end(form) }}
    </div>


{% endblock %}
