{% extends 'base.html.twig' %}

{% block title %}Re7{% endblock %}

{% block body %}


<br>
<h2 style="text-align: center">Modification de recette</h2>

<div class="container" style="">

    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="card-body">
        {{ form_row(form.name) }}
        {{ form_row(form.price) }}
        {{ form_row(form.time) }}
        {{ form_row(form.nbPeople) }}
        {{ form_row(form.difficulty) }}
        {{ form_row(form.description) }}
        {{ form_row(form.ingredients) }}
    </div>

    {{ form_row(form.isFavorite) }}

    {{ form_end(form) }}


    {% endblock %}
