{% extends 'base.html.twig' %}

{% block title %}Re7{% endblock %}

{% block body %}
    <figure style="text-align: center;   position: absolute;top:50%; left:50%; transform: translate(-50%, -50%); margin: 0;">
        <blockquote class="blockquote" style="font-size: 50px; font-style: italic;">
            <p class="mb-0">"La première recette du bonheur est la suivante : évitez de méditer trop longuement sur le passé."</p>

        </blockquote>
        <figcaption class="blockquote-footer" style="font-size: 20px">
            Andre Maurois - <cite title="Source Title">1967</cite>
        </figcaption>
    </figure>
{% endblock %}
